---
layout: default
---
<h2>{{ page.title }}</h2>
<p class="meta">{{ page.date | date: '%d/%m/%Y' }}</p>

<div class="post">
{{ content }}
</div>
<br />
<section class="read-more">
  <h3>Leia também</h3>
  <ul>
    {% for post in site.related_posts limit:3 %}
    <li>
      <span>{{ post.date | date: '%d/%m/%Y' }}</span> &raquo;
      <a href="{{ post.url }}">{{ post.title }}</a>
    </li>
    {% endfor %}
  </ul>
</section>
<br />
<section>
  <h3>Comentários</h3>
  <div id="disqus_thread" aria-live="polite">
    {% include disqus.html %}
  </div>
</section>
